table {
    border-collapse: collapse;
    margin: 1rem;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

tr:first-child {
    background-color: #967BD8;
    /* Cor de fundo para a primeira linha */
}

.servicos {
    overflow-x: auto;
}