.nego {
    font-weight: bold;
}

#maine {
    display: grid;
    grid-template-areas: "esquerdo direito";
    width: 75%;
}

.esquerdo {
    grid-area: esquerdo;
}

.esquerdo img {
    height: 400px;
    object-fit: contain;
}

.direito {
    grid-area: direito;
    text-align: left;
    padding: 1rem;
}